@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 218, 218, 218;
  --foreground2ndary-rgb: 155, 155, 155;

  --background-rgb: 29, 30, 32;
  --background2ndary-rgb: 46, 46, 51;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 218, 218, 218;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

.project-preview {
  background: rgb(var(--background2ndary-rgb));
}


.text-deselect {
  color: rgb(var(--foreground2ndary-rgb));
}

.hover\:text-select:hover {
  color: rgb(var(--foreground-rgb));
}